<div id="<%= dom_id beer_club %>">
  <h2>
    <%= beer_club.name %>
  </h2>

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>

  <h4>members</h4>

  <% @confirmed_members.each do |member| %>
    <p>
      <%= link_to member.username, member %>
    </p>
  <% end %>

  <h4>membership applications</h4>

  <% @applied_memberships.each do |membership| %>
    <p>
      <%= link_to membership.user.username, membership.user %> (Waiting for confirmation)
      <% if not current_user == membership.user %>
        <%= link_to "confirm", confirm_application_membership_path(membership), data: {turbo_method: "post"}, class: "btn btn-primary" %>
      <% end %>
    </p>
  <% end %>

