<%= form_with(model: user, local: true, html: { class: 'needs-validation' }) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.new_record? %>
    <div class="col-md-6">
    <div class="mb-3">
      <%= form.label :username, class: 'form-label' %>
      <%= form.text_field :username, class: 'form-control', required: true %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :password, class: 'form-label' %>
    <%= form.password_field :password, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, class: 'form-label' %>
    <%= form.password_field :password_confirmation, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.submit "Create user", class: 'btn btn-primary' %>
  </div>
  </div>
<% end %>
