<div>
  <h1>
    User <%= @user.username %>
    <% if @user.locked and current_user.admin %>
      <span class="badge bg-secondary">locked</span>
    <% end %>
  </h1>
  <br>
  <% if @user.ratings.empty? %>
  <p>
    Has not made any ratings
  </p>
  <% else %>
  <p>
      Has made
      <%= pluralize(@user.ratings.count, "rating") %> 
      with average of
      <%= @user.average_rating %>
    </p>

    <div> Favourite beer: <%= @user.favorite_beer %> </div>
    <div> Favourite style: <%= @user.favorite_style %> </div>
    <div> Favourite brewery: <%= @user.favorite_brewery %> </div>
  <% end %>
  <br>
  <% if @user.beer_clubs.empty? %>
    Has not joined any club
  <% else %>
    <h4>Memberships</h4>

    <ul>
      <% @user.beer_clubs.each do |club| %>
        <li>
          <%= link_to club.name, club %>
        </il>
      <% end %>
    </ul>
  <% end %>
  <p>
  <% if not @user.ratings.empty? %>
    <h4>Ratings</h4>
    <ul>
      <% @user.ratings.each do |rating| %>
        <li><%= "#{rating.to_s}" %>
          <% if @user == current_user %>
            <%= link_to "Delete", rating, data: {turbo_method: :delete}, class:'btn btn-outline-danger btn-sm' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <p>

  <% if current_user and current_user.admin %>
    <div>
      <%= link_to "Change account status", toggle_activity_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-primary" %>
    </div>
  <% end %>

  <% if @user == current_user %>
    <%= edit_and_destroy_buttons(@user) %>
  <% end %>

</div>
