<h1>Beer ratings</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Beer Name</th>
      <th>Score</th>
      <th>Given by</th>
    </tr>
  </thead>
  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer.name, rating.beer %></td>
        <td><%= rating.score %></td>
        <td><%= link_to rating.user.username, rating.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  Number of ratings: 
  <%= @ratings.count %>
</p>

<p>
  <%= link_to "New rating", new_rating_path, class:'btn btn-primary' if current_user%>
</p>