<h1>Breweries</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Established in</th>
      <th>Number of Beers</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @breweries.each do |brewery| %>
      <tr id="<%= dom_id brewery %>">
        <td>
          <%= link_to brewery.name, brewery %>
        </td>
        <td>
          <%= brewery.year %>
        </td>
        <td>
          <%= brewery.beers.count %>
        </td>
        <td>
          <%= brewery.average_rating %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Number of breweries: <%= @breweries.count %></p>

<%= link_to('New Brewery', new_brewery_path, class:'btn btn-primary') if current_user %>



